@import "../../../styles/breakpoint";

.headingWrapper {
    position: relative;
    padding: 100px 0;
    @include lg {
        padding: 200px 0;
    }
}

.heading {
    font-size: 11.458vw;
    // font-size: max(2.8125rem, 13.75rem);
    white-space: nowrap;
    position: relative;

    & + .heading {
        margin-left: 5rem;
    }
}

.headingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myreelwrap {
    display: flex;
    gap: 50px;
}

.headingScroll {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
}
