@import "../../../styles/breakpoint";

.imageSection {
    padding: 60px 20px;

    @include md {
        padding: 100px 50px;
    }

    @include lg {
        min-height: 100vh;
        height: 100%;
        padding: 200px 110px;
    }
}

.withBg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.fullImg {
    padding: 0;
    height: 100vh;
    max-height: 200px;

    @include md {
        max-height: 600px;
    }

    @include lg {
        max-height: 100%;
        height: 100vh;
    }
}

.imageWrap {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

.squareImageWrap {
    height: 90%;
    overflow: hidden;
    border: 10px solid #000;
    border-radius: 44px;
}

.fullImgWrap {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.bgImgWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 10px solid #000;
    border-radius: 44px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.doubleImgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doubleFullImgWrap {
    img {
        width: 100%;
        height: auto;
        &:nth-child(n + 2) {
            display: none;
        }
        @include md {
            &:nth-child(n + 2) {
                display: block;
            }
        }
    }

    @include md {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 50px;
    }
}
