.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 200px 0;
    gap: 50px 0;
}

.leftImgSection {
    align-items: center;
}

.logo {
    margin-bottom: 40px;
    img {
        aspect-ratio: 16 / 9;
        object-fit: contain;
        object-position: left;
    }
}

.description {
    font-size: 3.125rem;
    line-height: 4.6875rem;

    & + .description {
        margin-top: 80px;
    }
}

.minDescription {
    font-size: 1.875rem;
    line-height: 2.8125rem;
}

.addContent {
    width: 100%;
    flex: 0 1 100%;
    padding: 0 110px;
}

.content {
    padding: 0 50px 0 110px;
    flex: 0 1 60%;
}

.leftImgContent {
    padding: 0 110px 0 50px;
}

.image {
    flex: 0 1 40%;
    img {
        width: 100%;
    }
}
