@import "../../../styles/breakpoint";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 22px;
    height: auto;

    @include md {
        padding: 100px 50px;
    }

    @include lg {
        padding: 200px 110px;
        gap: 100px;
        min-height: 100vh;
    }
}

.subHeading {
    font-weight: 500;
    font-size: 2.375rem;
    line-height: 120%;

    @include md {
        font-size: 5.729vw;
        // font-size: max(2.375rem, 6.875rem);
        line-height: 6.25vw;
    }
}
